/*  
animation-name: ;
animation-delay: ;
animation-direction: ;
animation-duration: ;
animation-fill-mode: ;
animation-iteration-count: ;
animation-play-state: ;
animation-timing-function: ; 
*/



* {

	margin: 0;
	padding: 0;
    font-family: "Gaegu", sans-serif;
   
    background-color: #1d1d22;
    color: #dad9e0;

  
}


body{
   margin: 16%;
   

}

.main{
    font-size: 100px;
}

a{
    text-decoration: none;
}


.title{
 

    
    font-weight: 100;
color: transparent;
-webkit-text-stroke: 2px white;
position: relative;
text-decoration: none;
}

.title::before{
    content: "CROW";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: white;

}

.title:hover::before{
    width: 100%;
   
    border-right: 8px solid white;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;

    filter: drop-shadow(0 0 25% white);
    -webkit-filter: drop-shadow(0 0 25% white);
}

.black{
    text-decoration: none;
    font-weight: 700;
    color: black;
   
   
   }
   
   .black:hover{
   color: black;
   
   animation-name: blink;
   animation-duration:0.6s ;
   animation-iteration-count: infinite;
   animation-timing-function:ease ; 
   
   }
   

@keyframes blink {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
