
.ending{
    display: flex;
    flex-direction: column;
 flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    font-size: 50px;
    font-weight: 500;
}

.end{
 
font-size: 80px;
    
    font-weight: 100;
color: transparent;
-webkit-text-stroke: 2px white;
position: relative;
text-decoration: none;
}

.end::before{
    content: "BACK";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: white;

}

.end:hover::before{
    width: 100%;
   
    border-right: 8px solid white;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;

    filter: drop-shadow(0 0 25% white);
    -webkit-filter: drop-shadow(0 0 25% white);
}

#jun:hover{
    color: black;

}

.chinese{
    font-family: "ZCOOL KuaiLe", sans-serif;
    padding: 5px;
    text-align: justify;
    font-weight: lighter;
}
