
.stone, .bits{
    display: inline-block;
}


.bits {
    animation: hinge 4s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation: hinge 4s ease;
    background-color: transparent;
    animation-iteration-count: infinite;
   
}



@keyframes hinge {

    0% { transform: rotate(0) ; -webkit-transform: rotate(0) ; -moz-transform: rotate(0) ; -ms-transform: rotate(0) ; -o-transform: rotate(0) ; 
    transform-origin: top left;
animation-timing-function: ease-in-out;}

20%, 60% { transform: rotate(80deg) ; -webkit-transform: rotate(80deg) ; -moz-transform: rotate(80deg) ; -ms-transform: rotate(80deg) ; -o-transform: rotate(80deg) ; transform-origin: top left; animation-timing-function: ease-in-out;
}

40% { transform: rotate(60deg) ; -webkit-transform: rotate(60deg) ; -moz-transform: rotate(60deg) ; -ms-transform: rotate(60deg) ; -o-transform: rotate(60deg) ; transform-origin: top left; animation-timing-function: ease-in-out;
}

80% { transform: rotate(60deg) translateY(0); -webkit-transform: rotate(60deg) translateY(0); -moz-transform: rotate(60deg) translateY(0); -ms-transform: rotate(60deg) translateY(0); -o-transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out;
}
100%{ transform:translateY(500px) ; -webkit-transform:translateY(500px) ; -moz-transform:translateY(500px) ; -ms-transform:translateY(500px) ; -o-transform:translateY(500px) ;
opacity: 0;}
      
}
    
    
