body{
    background: #131314;
}



.black{
 text-decoration: none;

}

.black:hover{
color: black;

animation-name: blink;
animation-duration:0.6s ;
animation-iteration-count: infinite;
animation-timing-function:ease ; 


}








@keyframes blink {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  



@keyframes introAnimate {
    from{
        background-color: #131314;


    }

    to{
        background-color: white;

    }

}

@keyframes bgchange {
    0% {
      background: #131314;
    }
    100% {
      background: #dad9e0;
    }
  }
  @keyframes bgchange {
    0% {
      background: #dad9e0;
    }
    100% {
      background: #131314;
    }
  }

